.footer {
    padding: 30px 0;
    background: #222224;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.footer-rights {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-left: 5px;

}

.footer-social {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}