.header {
    background: #222222;
    padding: 18px 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.left-menu__list, .right-menu__list {
    display: flex;
    align-items: baseline;
}

.left-menu__list {
    gap: 41px;
}

.right-menu__list {
    gap: 33px;
}

.menu-link_button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

