.content {
  padding: 65px 0 95px;
  flex-grow: 1;
}

.content.content-catalogs {
  padding-top: 0;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 1150px) {
    padding: 0 14px;
  }
  @media screen and (max-width: 784px) {
    padding: 0 0px;

  }
}

.catalogs {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  @media screen and (max-width: 1150px) {
    gap: 19px;
  }
  @media screen and (max-width: 784px) {
    gap: 32px;
    padding: 0 16px;
  }
}

.catalogs-link {
  color: inherit;
  display: block;
}

.catalogs-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 260px;
  text-transform: uppercase;
  background-blend-mode: overlay;
  @media screen and (max-width: 1150px) {
    width: 233px;
    height: 168px;
  }
  @media screen and (max-width: 784px) {
    width: 342px;
    height: 247px;
  }
}

.women-item {
  background: url("../../img/women_cat.png") rgba(33, 22, 22, 0.7) center center;
  background-size: contain;

}

.men-item {
  background: url("../../img/men_cat.png") rgba(33, 22, 22, 0.7) center center;
  background-size: contain;

}

.kids-item {
  background: url("../../img/kid_cat.png") rgba(33, 22, 22, 0.7) center center;
  background-size: contain;

}

.accessories-item {
  background: url("../../img/accesories_cat.png") rgba(33, 22, 22, 0.7) center center;
  background-size: contain;

  width: 100%;
  height: 180px;
  @media screen and (max-width: 1150px) {
    height: 116px;
  }
  @media screen and (max-width: 784px) {
    height: 111px;
  }
}

.catalogs-categories {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.catalogs-deal {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.options {
  display: flex;
  align-self: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 51px 0 64px;
}

.options-sort {
  width: 360px;
}

.sort-button {
  display: flex;
  align-items: baseline;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  background: transparent;
  border: none;
  gap: 11px;
  text-transform: uppercase;
  cursor: pointer;
  color: #000000;

  &:hover {
    color: #EF5B70;
  }

  &:hover .sort-img {
    fill: #EF5B70;
  }
}


.sort-img {
  fill: #000;
  width: 15px;
  height: 10px;

}

.filter-list {
  display: flex;
  gap: 28px;
  //width: 360px;
}

.empty-div {
  width: 360px;
}

.filter-button {

  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  color: #6F6E6E;
  cursor: pointer;


}

.filter-button:after {
  font: var(--fa-font-solid);
  padding-left: 10px;
  content: "\f107";
}

.offer {
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.offer.offer-catalogs {
  padding-top: 0;
}

.offer-heading {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.offer-text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  @media screen and (max-width: 1150px) {
    gap: 16px;
  }
  @media screen and (max-width: 784px) {
    gap: 16px;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  background: #f8f8f8;
  padding-bottom: 20px;
}

.product-with-video {
  position: relative;
}

.play-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  position: absolute;
  left: 150px;
  top: 210px;
  cursor: pointer;
  font-size: 60px;
  z-index: 1;
  color: #F26376;
  transition: top 2s, left 2s;
}

.play-button:hover {
  color: #e91733;
}


.product-img {
  width: 100%;
  height: 420px;
  object-fit: scale-down;
}

.product-description {
  padding-top: 23px;
  padding-left: 16px;
  padding-right: 29px;
}

.product-title {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product-title:hover {
  color: #F26376;
}

.product-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding: 13px 0 18px;
}

.product-price {
  font-size: 16px;
  line-height: 19px;
}

.offer-link {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #FF6A6A 1px solid;
  width: 212px;
  height: 48px;
  font-size: 16px;
  line-height: 19px;
  @include button-transition;
}

.offer-link:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.pagination {
  @include flex_container($gap: 18px);
  padding: 12px 16px;
  border: 1px solid #EBEBEB;
  margin-top: 48px;
}

.pagination-list {
  @include flex_container($gap: 24px);
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

}

.pagination-link, .item-dots {
  color: #C4C4C4;

  &:hover:not(.item-dots) {
    color: darken(#F16D7F, 10%);
    font-weight: bolder;
  }
}

.pagination-link.is-active {
  color: #EF5B70;
}

.item-dots {
  margin: 0 -22px;

}

.pagination-next, .pagination-prev {
  color: #000;

  &:hover {
    color: darken(#F16D7F, 10%);
    font-weight: bolder;
  }
}

